In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

np.random.seed(29)

# 1 How likely is it that you roll doubles when rolling two dice?

In [2]:
dice1= np.random.choice([1,2,3,4,5,6],100000)
dice2=np.random.choice([1,2,3,4,5,6],100000)
samesies= dice1==dice2
samesies.mean()

0.16552

In [96]:

#review solution 
nrows = 100000
ncols = 2

rols = np.random.choice([1,2,3,4,5,6], nrows*ncols).reshape(nrows,ncols)
rols

df=pd.DataFrame(rols)
rols
df.head()

df.apply(lambda row: row.values[0]==row.values[1], axis =1).mean()

0.16602

# 2. 
If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [3]:
trails= 1000
coins= 8 
flips =np.random.choice(["heads", "Tails"], size =(trails, coins))
flips

array([['Tails', 'heads', 'heads', ..., 'Tails', 'heads', 'heads'],
       ['heads', 'heads', 'Tails', ..., 'heads', 'Tails', 'Tails'],
       ['heads', 'heads', 'Tails', ..., 'heads', 'heads', 'heads'],
       ...,
       ['Tails', 'heads', 'Tails', ..., 'heads', 'heads', 'Tails'],
       ['Tails', 'Tails', 'Tails', ..., 'heads', 'heads', 'Tails'],
       ['Tails', 'heads', 'heads', ..., 'heads', 'Tails', 'Tails']],
      dtype='<U5')

In [4]:
flips = pd.DataFrame(flips, columns=["first_coin", "second_coin","third_coin", "fourth_coin", "fifth_coin", "sixth_coin", "seventh_coin","eighth_coin"])
flips.head(20)

,first_coin,second_coin,third_coin,fourth_coin,fifth_coin,sixth_coin,seventh_coin,eighth_coin
0,Tails,heads,heads,Tails,Tails,Tails,heads,heads
1,heads,heads,Tails,Tails,Tails,heads,Tails,Tails
2,heads,heads,Tails,heads,Tails,heads,heads,heads
3,heads,heads,Tails,Tails,Tails,Tails,heads,heads
4,Tails,Tails,Tails,heads,heads,heads,Tails,Tails
5,heads,Tails,Tails,Tails,Tails,Tails,Tails,heads
6,heads,heads,heads,heads,heads,Tails,Tails,heads
7,heads,Tails,heads,heads,heads,heads,heads,heads
8,heads,Tails,heads,Tails,Tails,Tails,heads,Tails
9,heads,Tails,heads,heads,Tails,Tails,heads,Tails
10,Tails,Tails,heads,Tails,heads,Tails,Tails,Tails
11,Tails,Tails,heads,heads,heads,Tails,heads,Tails
12,Tails,Tails,heads,Tails,heads,Tails,Tails,Tails
13,heads,heads,heads,Tails,heads,Tails,Tails,heads
14,heads,heads,heads,heads,heads,heads,Tails,heads
15,heads,heads,heads,Tails,Tails,heads,heads,Tails
16,Tails,Tails,Tails,Tails,Tails,heads,heads,heads
17,Tails,Tails,heads,heads,heads,heads,Tails,heads
18,Tails,Tails,heads,Tails,heads,Tails,heads,Tails
19,Tails,heads,heads,Tails,heads,heads,heads,heads

In [5]:
def count_heads(row):
   return row.first_coin.count("heads") + row.second_coin.count("heads")+row.third_coin.count("heads")+row.fourth_coin.count("heads")+row.fifth_coin.count("heads")+row.sixth_coin.count("heads")+row.seventh_coin.count("heads")+row.eighth_coin.count("heads")

In [6]:
flips["head_count"] = flips.apply(count_heads, axis=1)
flips

,first_coin,second_coin,third_coin,fourth_coin,fifth_coin,sixth_coin,seventh_coin,eighth_coin,head_count
0,Tails,heads,heads,Tails,Tails,Tails,heads,heads,4
1,heads,heads,Tails,Tails,Tails,heads,Tails,Tails,3
2,heads,heads,Tails,heads,Tails,heads,heads,heads,6
3,heads,heads,Tails,Tails,Tails,Tails,heads,heads,4
4,Tails,Tails,Tails,heads,heads,heads,Tails,Tails,3
...,...,...,...,...,...,...,...,...,...
995,Tails,Tails,Tails,heads,Tails,heads,Tails,heads,3
996,heads,heads,heads,Tails,Tails,heads,Tails,heads,5
997,Tails,heads,Tails,Tails,heads,heads,heads,Tails,4
998,Tails,Tails,Tails,heads,Tails,heads,heads,Tails,3
999,Tails,heads,heads,Tails,heads,heads,Tails,Tails,4

In [7]:

# What are the chances of flipping exactly three heads?
flips[(flips.head_count == 3)]

,first_coin,second_coin,third_coin,fourth_coin,fifth_coin,sixth_coin,seventh_coin,eighth_coin,head_count
1,heads,heads,Tails,Tails,Tails,heads,Tails,Tails,3
4,Tails,Tails,Tails,heads,heads,heads,Tails,Tails,3
8,heads,Tails,heads,Tails,Tails,Tails,heads,Tails,3
16,Tails,Tails,Tails,Tails,Tails,heads,heads,heads,3
18,Tails,Tails,heads,Tails,heads,Tails,heads,Tails,3
...,...,...,...,...,...,...,...,...,...
991,Tails,heads,heads,heads,Tails,Tails,Tails,Tails,3
992,Tails,Tails,heads,Tails,heads,Tails,heads,Tails,3
993,heads,Tails,Tails,Tails,Tails,heads,heads,Tails,3
995,Tails,Tails,Tails,heads,Tails,heads,Tails,heads,3
998,Tails,Tails,Tails,heads,Tails,heads,heads,Tails,3

In [8]:
(flips.head_count == 3).mean()

0.224

In [9]:
# more than 3 heads 
flips[(flips.head_count > 3)]

,first_coin,second_coin,third_coin,fourth_coin,fifth_coin,sixth_coin,seventh_coin,eighth_coin,head_count
0,Tails,heads,heads,Tails,Tails,Tails,heads,heads,4
2,heads,heads,Tails,heads,Tails,heads,heads,heads,6
3,heads,heads,Tails,Tails,Tails,Tails,heads,heads,4
6,heads,heads,heads,heads,heads,Tails,Tails,heads,6
7,heads,Tails,heads,heads,heads,heads,heads,heads,7
...,...,...,...,...,...,...,...,...,...
989,heads,heads,heads,heads,Tails,Tails,heads,Tails,5
994,Tails,Tails,heads,Tails,heads,heads,heads,heads,5
996,heads,heads,heads,Tails,Tails,heads,Tails,heads,5
997,Tails,heads,Tails,Tails,heads,heads,heads,Tails,4
999,Tails,heads,heads,Tails,heads,heads,Tails,Tails,4

In [10]:
(flips.head_count>3).mean()

0.63

In [98]:
# Review solutions by John Salas 

n_rows = 100000
n_cols = 8 
rolls = np.random.choice([True,False], nrows *n_cols).reshape(n_rows,n_cols)

# 3.
There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [74]:
trails_stu= 100000
alumni=2
bill_board= np.random.choice (["web_dev","web_dev","web_dev","data_sci"], size = (trails_stu, alumni))
bill_board

array([['web_dev', 'data_sci'],
       ['web_dev', 'web_dev'],
       ['web_dev', 'data_sci'],
       ...,
       ['web_dev', 'data_sci'],
       ['web_dev', 'web_dev'],
       ['web_dev', 'web_dev']], dtype='<U8')

In [75]:
bill_board= pd.DataFrame(bill_board, columns= ["first1","second1"])
bill_board.head(10)

     first1   second1
0   web_dev  data_sci
1   web_dev   web_dev
2   web_dev  data_sci
3  data_sci  data_sci
4   web_dev   web_dev
5  data_sci   web_dev
6   web_dev  data_sci
7  data_sci  data_sci
8   web_dev   web_dev
9  data_sci   web_dev

In [76]:
def count_data(row):
   return row.first1.count("data_sci") + row.second1.count("data_sci")

In [77]:

# Let's setup a 5rd column to count the number of data scientists  
bill_board["count_scientists"] = bill_board.apply(count_data, axis=1)
bill_board

         first1   second1  count_scientists
0       web_dev  data_sci                 1
1       web_dev   web_dev                 0
2       web_dev  data_sci                 1
3      data_sci  data_sci                 2
4       web_dev   web_dev                 0
...         ...       ...               ...
99995  data_sci  data_sci                 2
99996   web_dev   web_dev                 0
99997   web_dev  data_sci                 1
99998   web_dev   web_dev                 0
99999   web_dev   web_dev                 0

[100000 rows x 3 columns]

In [78]:
#odds have 2 data scientists 
bill_board[(bill_board.count_scientists == 2)]

         first1   second1  count_scientists
3      data_sci  data_sci                 2
7      data_sci  data_sci                 2
17     data_sci  data_sci                 2
41     data_sci  data_sci                 2
51     data_sci  data_sci                 2
...         ...       ...               ...
99980  data_sci  data_sci                 2
99981  data_sci  data_sci                 2
99988  data_sci  data_sci                 2
99994  data_sci  data_sci                 2
99995  data_sci  data_sci                 2

[6158 rows x 3 columns]

In [79]:
(bill_board.count_scientists == 2).mean()

0.06158


# 4. 
Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [ ]:
# 3 pop with sd of 1.5

In [80]:
friday_afternoon = np.random.normal(3, 1.5, size=(100000,5))
friday_afternoon.mean()

2.997987817168109

In [81]:
weekly_demand = friday_afternoon.sum(axis=1)
(weekly_demand < 17). mean()

0.72565

# 5. Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, P(woman taller than man)?

In [83]:
men=np.random.normal(178, 8, 100000)
women= np.random.normal(170, 6, 100000)

In [99]:
(women > men)

array([False, False, False, ..., False, False, False])

In [84]:
# If a man and woman are chosen at random, P(woman taller than man)?
(women > men).mean()

0.21073

# 6 
 When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. 
 - What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

- What is the probability that we observe an installation issue within the first 150 students that download anaconda?
- How likely is it that 450 students all download anaconda without an issue?

In [126]:

trials = 100000
students_per_trial = 50

installs = np.random.choice(["No","Yes"], size = (trials, students_per_trial),p=[1/250,249/250])
df = pd.DataFrame(installs)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
1,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
2,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
4,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [128]:
df['all_good'] = df.sum(axis=1) == students_per_trial
df.head(50)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,all_good
0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
1,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
2,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
3,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
4,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
5,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
6,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
8,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
9,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
10,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
11,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
12,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
13,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
14,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
15,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
16,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
17,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
18,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
19,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
20,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,False
21,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
22,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
23,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
24,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
25,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
26,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
27,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
28,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
29,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
30,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
31,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
32,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
33,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
34,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
35,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
36,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
37,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
38,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,False
39,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
40,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,False
41,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
42,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
43,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
44,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
45,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
46,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
47,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
48,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False
49,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,False

In [124]:
df.all_good

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: all_good, Length: 100000, dtype: bool

# 7
- There's a 70% chance on any given day that there will be at least one food truck at Travis Park. 
- However, you haven't seen a food truck there in 3 days. How unlikely is this?

# 8
If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?